
@{
    ViewBag.Title = "خوش آمدید";
    Layout = "~/Views/Shared/_DefualtLayout.cshtml";
}
<img src="/Content/data/banner/shoping.jpg">
<div class="container" dir="rtl">
    <h4 style="color:darkgreen">@ViewBag.UserName  عزیز! ثبت نام با موفقیت انجام شد.</h4>
    <p>حساب کاربری شما فعال شد. می توانید از طریق این <a href="/Login" style="color:red"> لینک </a>وارد سایت شوید.</p>
</div>



