@model DataLayer.Users
@{
    ViewBag.Title = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_DefualtLayout.cshtml";
}

<img src="/Content/data/banner/shoping.jpg">
<div class="container" dir="rtl">
    <h4 style="color:darkblue">@Model.UserName عزیز!</h4>
    <p>لطفا برای تکمیل فرایند بازیابی کلمه عبور به ایمیل @Model.Email روید و روی لینک ارسال شده کلیک کنید.</p>
</div>

